<form autocomplete="off" novalidate #form="ngForm" (submit)="onSubmit(form)">
  <input
    type="hidden"
    name="paymentDetailId"
    [value]="svc.formData.paymentDetailId"
  />
  <div class="form-group">
    <label>card owner name</label>
    <input
      class="form-control form-control-lg"
      type="text"
      placeholder="cardOwnerName"
      name="cardOwnerName"
      #cardOwnerName="ngModel"
      [(ngModel)]="svc.formData.cardOwnerName"
      required
      [class.invalid]="cardOwnerName.touched && cardOwnerName.invalid"
    />
  </div>
  <div class="form-group">
    <label>card number</label>
    <input
      class="form-control form-control-lg"
      type="text"
      placeholder="cardNumber"
      name="cardNumber"
      #cardNumber="ngModel"
      [(ngModel)]="svc.formData.cardNumber"
      required
      maxlength="16"
      minlength="16"
      [class.invalid]="cardNumber.touched && cardNumber.invalid"
    />
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>card expiration date</label>
        <input
          class="form-control form-control-lg"
          type="text"
          placeholder="MM/YY"
          name="cardExpirationDate"
          #cardExpirationDate="ngModel"
          [(ngModel)]="svc.formData.cardExpirationDate"
          required
          maxlength="5"
          minlength="5"
          [class.invalid]="
            cardExpirationDate.touched && cardExpirationDate.invalid
          "
        />
      </div>
      <div class="form-group col-md-6">
        <label>card security code</label>
        <input
          class="form-control form-control-lg"
          type="password"
          placeholder="cardSecurityCode"
          name="cardSecurityCode"
          #cardSecurityCode="ngModel"
          [(ngModel)]="svc.formData.cardSecurityCode"
          required
          maxlength="3"
          minlength="3"
          [class.invalid]="cardSecurityCode.touched && cardSecurityCode.invalid"
        />
      </div>
    </div>
  </div>
  <div class="form-group">
    <button
      type="submit"
      class="btn btn-info btn-lg btn-block"
      [disabled]="form.invalid"
    >
      submit
    </button>
  </div>
</form>
